* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --brand-color: #ffbd48;
  --dark-10: #2e2e2e;
  --dark-20: #fefbf4;
  --dark-30: #ffffff;
  --red-10: #ff3536;
  --red-20: #ffd4c9;
}

.s-main {
  background: url("./assets/background.png") center/cover no-repeat;
  width: 100%;
  max-width: 30rem;
  height: 18.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.s-main img {
  width: 13.5rem;
  height: 8.9375rem;
}

.best-sellers {
  width: 100%;
  background: url("./assets/bg-products.png") center/cover no-repeat;
}

.s-title {
  font: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 3.125rem 0;
}

button {
  outline: none;
  border-radius: 25rem;
  padding: 0.75rem 2.5rem;
  background-color: var(--brand-color);
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}

.products {
  display: grid;

  grid-template-rows: repeat(4, 1fr);

  grid-row-gap: 6.1875rem;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.about img {
  width: 20.4375rem;
  height: 25rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}
